body {
    background-color: #eff9cf
}

p {
    font-family: Arial;
}

header {
    border: 4px solid teal;
    border-radius: 4px;
}

.name {
    font-family: Helvetica;
    font-size: 40px;
    text-align: center;
    margin: 20px;
}

.nav {
    text-align: center;
}

.nav a {
    padding: 10px 20px;
    margin: 10px;
    background-color:	#FFD700;
    font-size: 18px;
    border-radius: 8px;
}

.mypic {
    Display: Inline-Block;
    width: 30%;
    margin-right: 100px;
    margin-top: 30px;
    float: right;
    border-style: Solid;
    border-width: 20px;
    border-color: #63c684;
    Border-radius: 10px;

}

.title {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

.resume h2 {
    color: teal;
    margin-left: 24%;
    
}

.resume p {
    margin-left: 26%;
    margin-right: 26%;
    font-family: Times;
    font-weight: bold;
}

.resume ul {
    margin-left: 26%;
    margin-right: 26%;
}

.picgrid {
    Display: Grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.pic1 {
    grid-area: 1/1/2/2;
    margin-top: 50px;
    margin-left: 15px;
}

.pic2 {
    grid-area: 1/2/2/3;
    margin-top: 50px;
}

.pic3 {
    grid-area: 1/3/2/4;
    margin-top: 50px;
}

.pic4 {
    grid-area: 2/1/3/2;
    margin-left: 15px;
}

.pic5 {
    grid-area: 2/2/3/3;
}

.pic6 {
    grid-area: 2/3/3/4;
}